*.pyc
*.log
node_modules
coverage/
synthetic_data/logs
synthetic_data/export_deliverables
synthetic_data/cantaloupe/*
synthetic_data/staticfiles
synthetic_data/media/packages
synthetic_data/media/build/
synthetic_data/uploadedfiles/*
synthetic_data/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
